# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* List Popular Languages for Data Science.
* List Libraries used by Data Scientists.
* List of Data Science Tools.
* Examples of evaluating arithmetic expressions in Python.

Someone of the popular languages that Data Scientistic use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists Include:
1. NumPy
2. Pandas
3. TensorFlow

|**Data Science Tools**|
|--------------------|
|Jupyter Notebooks|
|R-Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Lucas Ayala